@model PracticaBD.Models.Cine

@{
    ViewBag.Title = "Eliminar Horario";
}

<br />

<h2>Eliminar Horario</h2>

<br />

<h3>Esta seguro de eliminar este horario?</h3>
<br />
<div>
    <h4>Horario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Elimiar" class="btn btn-dark" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
